.to-do-list-item {
  font-size: 1.25rem;
}

.to-do-list-item button {
  width: 35px;
  margin: 3px;
}

.to-do-list-item-label {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.to-do-list-item.done .to-do-list-item-label {
  text-decoration: line-through;
}

.to-do-list-item.important .to-do-list-item-label {
  font-weight: bold;
  color: steelblue;
}
