@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.TaskAddForm {
  margin-top: 10px;
}

input {
  margin-right: 5px;
}

button {
  font-family: 'Indie Flower', cursive;
}

.plus {
  background: rgb(128, 128, 128);
  font-family: New-Tines-Roman;
  font-weight: bold;
}

.plus:hover {
  background: rgb(33, 37, 41);
  color: rgb(128, 128, 128);
}
